<% provide(:title, t(:about)) %>
<h1><%= t(:about) %> Race-Manager</h1>
<h2>Author: <a href="http://www.jobst-berlin.de/~henry/">Henry Jobst</a></h2>
<p>
This will be a web application to manage and present results of running races.
At first development will start with orienteering competitions for team events with data input from SI-hardware stations.
</p>
<br/>
<p>
For further information on this software please contact: <a href="mailto:race_manager-development@jobst-berlin.de">Henry Jobst</a>
</p>
