<% provide(:title, 'About') %>
<h1>About Race-Manager</h1>
<p>
Author: <a href="http://www.jobst-berlin.de/~henry/">Henry Jobst</a>
<br/>
This will be a web application to manage and present results of running races.
At first development will start with orienteering competitions for team events with data input from SI-hardware stations.
<br/>
For further information on this software please contact: <a href="mailto:race_manager-development@jobst-berlin.de">Henry Jobst</a>
</p>
