<% provide(:title, t(:about)) %>
<h1><%= t(:about) %> <%= t(:application_name)%></h1>
<h2><a href="http://www.jobst-berlin.de/~henry/">Henry Jobst</a></h2>
<p>
	<%= t(:about_text) %>
</p>
<br/>
<p>
	<%= t(:about_text_contact)%>: <a href="mailto:race_manager-development@jobst-berlin.de">Henry Jobst</a>
</p>
